
*{
	box-sizing: border-box;
}

.container{
    height: 350px;
width: 350px;
/* border: 2px solid black; */
display: grid;
grid-template-columns: 33.3% 33.3% 33.3%;
text-align: center;
margin: auto;

}

.box{
    border: 2px solid black;
    cursor: pointer;
    text-align: center;
display: flex;
align-content: center;
align-items: center;
justify-content: space-around;
font-size: 40px;
height: initial;
width: initial;
}


.message {

	text-align: center;
	margin: 2em;
}


#restartButton {
	margin-top: 15px;
    padding: 10px 15px;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    background: aquamarine;
    border-radius: 10px;
}

.winning-txt {
    padding: 12px;
    /*background: bisque;
*/   }